@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
ion-content.background{
    --background: linear-gradient(#6441A5,#000000);
}

@-webkit-keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}}@keyframes roll-in-right{0%{-webkit-transform:translateX(800px) rotate(540deg);transform:translateX(800px) rotate(540deg);opacity:0}100%{-webkit-transform:translateX(0) rotate(0deg);transform:translateX(0) rotate(0deg);opacity:1}};
.container{
    -webkit-animation:roll-in-right .6s ease-out both;animation:roll-in-right .6s ease-out both;
    img{
        height: 410px;
    }
}

@-webkit-keyframes tracking-in-expand-fwd-bottom{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(500px);transform:translateZ(-700px) translateY(500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-expand-fwd-bottom{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(500px);transform:translateZ(-700px) translateY(500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}};
.h2Animado{
    -webkit-animation:tracking-in-expand-fwd-bottom .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd-bottom .8s cubic-bezier(.215,.61,.355,1.000) both;

    font-family: 'Prata', serif;
    position: absolute;
    bottom:  0;
    left: 0;
    right: 0;
    margin-bottom:  100px;
    color:white;

}

@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}};
.h1Animado{
    -webkit-animation:tracking-in-contract 1.5s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract 1.5s cubic-bezier(.215,.61,.355,1.000) both;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 230px;
    font-family: 'Prata', serif;
    letter-spacing: 2px;
    color:white;
}

h1{
    font-size: 50px;
}

h2{

    font-size: 60px;
    // font-family: 'Arvo', serif;
   
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin-bottom: 88px;
    // position: absolute;

    // color: white;
  
}